
/* ===============================

colors :
  light grey       #7A918D
                   #BFC8AD
  light purple     #545775
  yellowish white  #F4FFF8
  light peach:     #DBCFB0
===================================
*/

.col-bg-blue {
  background-color: #5d96ea;
}

/*===================================
            preloader
======================================*/
#preloader {
  background-color: #BFC8AD;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}


#status {
  background-image: url("../img/preloader/spinner.7s-200px.gif");
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;

}
